<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yx.dao.AdminDao">


    <select id="getAdminByUsername" resultType="com.yx.bean.Admin">
        SELECT *
        FROM ums_admin
        WHERE username=#{name}
        OR phone = #{name}
        OR email = #{name}
    </select>
</mapper>